.page-template-default {
	.alignright {
		float: right;
	}
	.alignleft {
		float: left;
	}
	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	h1{
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.38;
		letter-spacing: 0.083333rem;
		font-color: $brand-blue;

	}
	.hentry {
		padding-top: 2.83333rem;
		padding-bottom: 3.6666rem;
	}
	img.alignright { 
		float: right;
		margin: 0 0 1em 1em; 
	}
	img.alignleft {
		float: left;
		margin: 0 1em 1em 0;
	}
	img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	sup {
		display: none;
	}
}