body {
	padding-top: 16.333rem;
	overflow-x: hidden;
	&.home {
		padding-top: 0;
	}

	@include media($fullsize){

	}
	h1,h2,h3{
		color: $brand-blue;
		font-family: $font-family-headline;
	}

	h1 {
		font-size: 2.75rem;
		letter-spacing: .083rem;
	}

	button {
		outline:0;
	}
	p {
		color: #6B757E;
		font-family: $font-family-base;
		font-size: 1rem;
	}

	ul {
		color: #6B757E;
		font-family: $font-family-base;
		font-size: 1rem;
	}
}


